{% extends 'base.html.twig' %}
{% block navigation %}{% endblock %}
{% block body %}
    <h1>All spare part</h1>
    <p>
        {% if app.request.get('page') > 1 %}
            <a href="{{ path('app_all_parts', {'page': 1 }) }}">&lArr; First</a>
            | <a href="{{ path('app_all_parts', {'page': app.request.get('page') - 1 }) }}">&larr; Previous</a> |
        {% endif %}

        <a href="{{ path('app_all_parts', {'page': app.request.get('page', 1) + 1 }) }}">Next &rarr;</a>

    </p>
    {% if parts|length %}

        {% for part in parts %}
            <div class="part-info">
                <div>
                    <div class="part-name">{{ part.namePart }}</div>
                    <span class="part-label"><b>Vendor code spare part: </b></span>{{ part.PartId }}<br>
                    <div class="part-vehicle"><b>For vehicle: </b>{% for vehicle in part.vehicles %}
                            {{ vehicle.brand }}                         {% endfor %}
                    </div>

                    <span class="part-label"><b>Model spare part: </b></span>{{ part.modelPart }}<br>
                    <span class="part-label"><b>Price spare part: </b></span>{{ part.pricePart }}<br>

                </div>
            </div>

            <div class="part-actions">
                <a class="pure-button" href="{{ path('app_part_show', {'partId': part.partId }) }}">Show</a>
                <a class="pure-button" href="{{ path('app_part_delete', {'partId': part.partId }) }}"
                     onclick="return confirm('Delete part {{ part.namePart }}?')">Delete</a>
                <a class="pure-button" href="{{ path('app_update_part', {'partId': part.partId }) }}">Update</a>

            </div>
        {% endfor %}

    {% else %}
        No pats found
    {% endif %}
{% endblock %}
