<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="pure-menu pure-menu-horizontal">
        <a href="{{ path('app_home') }}" class="pure-menu-link pure-menu-heading">&#8962; Car master</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item dropdown pure-menu-allow-hover">
                <a href="#" class="pure-menu-link">Spare part</a>
                <div class="dropdown__content">
                    <a href="{{ path('app_create_part') }}" class="pure-menu-link">Add spare part</a>
                    <a href=" {{ path('app_all_parts') }}" class="pure-menu-link">All spare part</a>

                </div>
            </li>
        </ul>
        <ul class="pure-menu-list">
            <li class="pure-menu-item dropdown pure-menu-allow-hover">
                <a href="{{ path('app_home') }}" class="pure-menu-link">Vehicles</a>
                <div class="dropdown__content">
                    <a href=" {{ path('app_all_vehicles') }}" class="pure-menu-link">All vehicles</a>
                    <a href=" {{ path('app_find_part_for_vehicles') }}" class="pure-menu-link">Find part from
                        vehicle</a>
                </div>
            </li>
        </ul>

        <ul class="pure-menu-list">
            <li class="pure-menu-item dropdown pure-menu-allow-hover">
                <a href="#" class="pure-menu-link">Add vehicles</a>
                <div class="dropdown__content">
                    {% for vehicleType in vehicle_types() %}
                        <a href="{{ path('app_create_vehicle', {vehicleType: vehicleType}) }}"
                           class="pure-menu-link">{{ vehicleType }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>

        <ul class="pure-menu-list">
            <li class="pure-menu-item dropdown pure-menu-allow-hover">
                <a href="{{ path('app_home') }}" class="pure-menu-link">Owner</a>
                <div class="dropdown__content">
                    {#                    <a href="{{ path('app_create_vehicles') }}" class="pure-menu-link">Add owner</a> #}
                    {#                <a href=" {{ path('app_all_app_vehicles') }}" class="pure-menu-link">All owner</a> #}
                    <a href=" {{ path('app_find_vehicle_for_owner') }}" class="pure-menu-link">Find vehicle by owner</a>
                </div>
            </li>
        </ul>
        <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">Log out</a>
        </li>
    </div>
</nav>
{% block navigation %}{% endblock %}

{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
