{% extends 'base.html.twig' %}

{% block body %}
    <div class="login">
        <h2>Sign up for a CarMaster account</h2>

        {{ form_start(form, { attr: { class: 'pure-form pure-form-stacked'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <button type="submit" class="pure-button pure-button-primary">Sign up</button>
        {{ form_end(form) }}

        <div class="or-signup">
            Already have an account? <a href="{{ path('app_login') }}">Log in</a>
        </div>
    </div>
{% endblock %}
