{{ form_start(form, { 'attr' : { 'class': 'pure-form pure-form-stacked' } }) }}
{{ form_errors(form) }}
{{ form_row(form.licensePlate) }}
{{ form_row(form.yearManufacture) }}
{{ form_row(form.brand) }}
{{ form_row(form.owner) }}
{#{{ form_row(form.spareParts , { 'attr': { 'multiple': 'multiple' } }) }}#}

{% if form.bodyType is defined %}
    {{ form_row(form.bodyType) }}
{% endif %}
<button type="submit" class="pure-button pure-button-primary">Save</button>
{{ form_end(form) }}